@charset "UTF-8";

/* communityMain CSS */
.upload-types {
    padding-top: 60px;
    padding-bottom: 100px;
}

.upload-types>h2 {
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: bold;
}

.upload-types__item {
    display: block;
    max-width: 160px;
    margin: 0 auto 60px;
    color: black;
}

.upload-types__item__pictogram {
    position: relative;
    width: 100%;
}
.upload-types__item__pictogram:after {
    content: '';
    display: block;
    padding-top: 100%;
    background: #fafafa;
    border-radius: 50%;
}
.upload-types__item__caption {
    text-align: center;
    margin-top: 20px;
    font-size: 11px;
    line-height: 1.46;
    color: #bdbdbd;
}

.upload-types__item:hover>.upload-types__item__pictogram::after {
   text-decoration: none;
   background-color: #35C5F0;
}
.upload-types__item:hover {
   text-decoration: none;
   color: white;
}
.upload-types__item:hover>.upload-types__item__caption {
    color: black;
    font-weight: bold;
}

.upload-types__item__pictogram__contents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.upload-types__item__pictogram__contents>p {
    margin-top: 15px;
    font-size: 18px;
}

.question-form__body__content__input:empty:not(:focus)+.question-form__body__content__placeholder {
    display: block;
}
.question-form__body__content__placeholder {
    width: 100%;
    color: #bdbdbd;
    display: none;
}
.question-form__body__content__input, .question-form__body__content__placeholder {
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.87;
    word-wrap: break-word;
    cursor: text;
    padding: 15px;
}




/* write.jsp */
header {
	margin-top: 40px
}
.simplified-gnb__container {
    max-width: 690px
}

.btn {
    box-sizing: border-box;
    display: inline-block;
    padding: 20px 100px 20px 100px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
}

.question-form {
    width: 100%;
    max-width: 700px;
    margin: 40px auto 0;
    padding: 0 15px
}
.question-form__expert {
    margin-bottom: 15px
}
.question-form__expert__name {
    margin-right: 6px
}
.question-form__expert__name,
.question-form__expert__tip {
    vertical-align: middle
}
.question-form__cs {
    margin-bottom: 20px;
    color: #424242
}
.question-form__cs__link {
    margin-left: 2px;
    color: #35C5F0;
    font-weight: bold;
    text-decoration: underline
}
.question-form__header__heading {
    margin-bottom: 20px
}
.question-form__header__title {
    display: block;
    margin-bottom: 15px
}
.question-form__header__title>input {
    display: block;
    margin-bottom: 2px;
    width: 100%;
    font-size: 15px
}

/* 제목, 키워드, 문의사항 에러 메시지 */
#error1,
#error2,
#error3 {
	color: #F77;
    font-size: 11px;
    display: none;
    margin-top: 10px;
}

/* 문의사항 텍스트 */
.question-form__body__content {
    margin-bottom: 20px;
}
.question-form__body__content__wrap {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    transition: border .2s, background-color .2s;
}
.question-form__body__content__wrap:hover {
    background-color: #fafafa;
}
[contenteditable=true]:focus {
	outline: none;
}
.question-form__body__content__input {
    transition: box-shadow .2s
}

/* 문의사항 텍스트 */
.question-form__body__content__input {
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.87;
    word-wrap: break-word;
    cursor: text;
    padding: 15px;
    display: none;
}

/* 문의사항 텍스트 Hint*/
.question-form__body__content__placeholder {
    color: #bdbdbd;
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.87;
    word-wrap: break-word;
    cursor: text;
    padding: 15px;
    display: block;
}
.question-form__body__content__placeholder__cs {
    font-size: 13px;
    margin-top: 6px;
    display: block;
}

/* 이거 보기*/
/*
.question-form__body__content__input:empty:not(:focus)+.question-form__body__content__placeholder {
    display: block
}
.question-form__body__content__input:empty:not(:focus) {
    min-height: 0;
    height: 0;
    padding: 0
}
*/
/*------------------------------------------------------*/
/* write.jsp에서 노출되는 키워드 선택 전과 선택 후 보여지는 문구 */
.question-form__keywords__keyword--new {
    border: none;
    font-family: inherit;
    color: #bdbdbd
}
.question-form__keywords__keyword--new:hover,
.question-form__keywords__keyword--new:active {
    background-color: #ededed;
    text-decoration: none
}
.question-form__keywords__keyword__name {
	display: none;
}
.question-form__keywords__keyword__name--hint {
	display: inline;
}

/* write.jsp에서 노출되는 키워드 리스트 */
.template {
    display: none
}
.keyword-list {
    margin: -4px -2.5px;
    font-size: 0
}
.keyword-list>li {
    display: inline-block
}
.keyword-item {
    display: inline-block;
    margin: 4px 2.5px;
    padding: 0 8px;
    line-height: 25px;
    font-size: 13px;
    font-weight: normal;
    color: #757575;
    background-color: #fafafa;
    border-radius: 13px;
    vertical-align: bottom;
    white-space: nowrap
}
.keyword-item:before {
    display: inline-block;
    content: '#';
    padding-right: 4px;
    color: #dbdbdb
}
.keyword-item:hover,
.keyword-item:active {
    background-color: #ededed
}
.question-form__keywords {
    margin-top: 20px;
    margin-bottom: 60px
}
.question-form__keywords__wrap {
    margin-bottom: 2px;
    width: 100%
}
.question-form__keywords__list {
    display: inline
}
.btn_keywords {
    font-size: 13px;
    font-weight: normal;
    border: 0;
    background-color: #fafafa;	
}
.btn_keywords:hover,
.keyword-item:hover>.btn_keywords {
background-color: #ededed;
}

/* 키워드 최종 마지막 개수 */
.question-form__keywords__counter {
    margin: 10px 0;
    font-size: 11px;
    color: #bdbdbd
}
.question-form__keywords__counter__divider {
    border-left: 1px solid #bdbdbd;
    margin: 2px 7px
}

/* 질문 저장하기 버튼 */
.btn-lg {
    margin: 10px 5px;
    width: 100%;
    background-color: #35C5F0;
    border-color: #35C5F0;
    color: #ffffff;
    
}
.btn-lg:hover {
    color: #ffffff;
    background-color: #046a91;
}

/* 키워드 추가, 모달 영역 */
.modal-dialog{
	max-width: 80%; 
	width: auto; 
}
.modal-tag-select__header__name {
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.modal-tag-select__header__name__tip {
    font-size: 15px;
    color: #bdbdbd
}
li {list-style: none;}
.modal-tag-select__groups__name {
    margin: 10px 0 20px;
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.modal-tag-select__groups__list__item {
    width: 220px;
    margin-bottom: 10px;
    font-size: 15px
}

/* 키워드 추가, footer 버튼 부분 */
.modal-tag-select__footer {
    justify-content: center;
    padding-top: 20px;
    margin: 0 -5px;
}
.btn-dismiss {
	background-color: #bdbdbd;
    border-color: #bdbdbd;
    color: #ffffff;
}
.btn-dismiss:hover {
	background-color: #696969;
    color: #ffffff;
}
/* 자바 스크립트를 통해 체크박스 유효성 통과하면 파란색으로 변할 수 있도록 설정! */
.btn-priority {
    background-color: #35C5F0;
    border-color: #35C5F0;
    color: #ffffff;
}
.btn-priority:hover {
    color: #ffffff;
    background-color: #046a91;
}
/* disabled 상태일때 */
.btn-priority:disabled {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    color: #ededed;
}



/* 에러메시지
.question-form__body__content.error>.question-form__body__content__wrap {
    border: 1px solid #F77;
}
.question-form__body__content>.error {
    margin-top: 10px;
}

.question-form__keywords.form-group.error .error {
    display: inline-block;
}
.question-form__keywords__list__wrap>.error {
    display: none;
    margin: 4px 0 4px 8px;
    color: #F77;
    font-size: 11px;
    line-height: 31px
}
*/
