@charset "UTF-8";
/*hi 윤주네 CSS입니당*/

/*logo_menu*/
/*TODO logo_menu delete*/
header#main_header {
	width: 90%;
	height: auto;
	text-align: center;
	margin: 0px auto;
}

#main_top1_2 li, #main_top2 li,#main_top3 li {
	display: inline-block;
	height: 100%;
	margin-left: 20px;
}

#main_top1_2 li a, #main_top2 li a, #main_top2 a, #main_top3 li a, #main_top3 a {
	/* font-family: 'Do Hyeon', sans-serif; */
	/* font-weight: bold; */
	font-weight: 900;
	font-size: 17px;
	color: #444;
}

#main_top1_2 li a:hover, #main_top2 li a:hover, #main_top2 a:hover,#main_top3 li a:hover, #main_top3 a:hover  {
	color: rgb(53, 197, 240)
}
/*---------*/
div#main_top1, div#main_top2 {
	
}

div#main_top1 {
	padding-top: 40px
}

div#main_top2 li,div#main_top3 li {
	margin-left: 10px
}

#main_title {
	font-family: 'Jua', sans-serif;
	font-size: 30px;
	align-content: left;
	height: 40px;
}

#main_top1_1 {
	padding: 10px
}

#main_top1_2 {
	padding: 10px
}

#main_top1_3 div#search {
	height: 40px;
	width: 200px;
	border-radius: 5px;
	border: 1px solid rgb(200, 200, 200);
	display: inline-block;
	text-align: left;
	font-size: 20px;
	padding: 10px;
	color: #444;
}

#main_top1_3 button {
	background-color: white;
	border: none;
	height: 40px;
	width: 40px;
	color: #444;
	margin: 5px;
	border-radius: 20px;
	font-size: 20px
}

#main_top1_3 button:hover {
	background-color: rgb(53, 197, 240);
	color: white;
}

button#write {
	font-weight: 900;
	color: rgb(53, 197, 240);
	width: 90px; border : 1px solid rgb( 53, 197, 240);
	font-size: 15px;
	border: 1px solid rgb(53, 197, 240);
}

#main_top2_app {
	background-image:
		url("https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/22308828_1362771857179344_2862649104720883557_n.png?_nc_cat=1&_nc_sid=09cbfe&_nc_eui2=AeH5lxEnBFrz40hJ6UtdpaQJuBoYtwUvLmC4Ghi3BS8uYAhbV6mwPZVwNDLVqmNQ06N1d9OzpAwE7e94RmBOvcN5&_nc_ohc=UJrBOpVraysAX9EMaAO&_nc_ht=scontent-ssn1-1.xx&oh=ef4a21dc6a1b52af269c893205600fff&oe=5EF360AB");
	background-size: contain;
	border: none;
	border-radius: 3px;
	width: 20px;
	height: 20px;
	margin-right: 5px
}

header a {
	text-decoration: none;
}

header a:link {
	color: #444;
	text-decoration: none;
}

header a:visited {
	color: #444;
	text-decoration: none;
}

/*------------------------footer-----------------------*/
footer#main_footer {
	width: 100%;
	background-color: rgb(250, 250, 250);
	border-top: 1px solid rgb(200, 200, 200);
}

#main_footer_content {
	width: 80%;
	height: 200px;
	margin: 50px auto;
}

#main_footer_icon {
	font-size: 30px;
	text-align: right;
	color: #666;
}

#main_footer_content h1 {
	font-weight: 900;
	margin-top: 20px
}

#main_footer_h0 {
	font-size: 13px;
	color: #333
}

#main_footer_h1 {
	font-size: 30px;
	color: #333
}

#main_footer_h2 {
	font-size: 13px;
	color: #666
}

#main_footer_h3 {
	font-size: 10px;
	color: #333
}

#main_footer_h4 {
	font-size: 10px;
	color: #666
}

#main_footer_h5 {
	font-size: 10px;
	color: #666
}

#main_footer_h6 {
	font-size: 10px;
	color: #333;
	padding-bottom: 30px
}

/*---------main content--------*/
#main_content, #product_main_content,#product_main_nav{
	width: 70%;
	margin: 50px auto;
}

#main_content h1 {
	color: #333;
	font-size: 20px;
	font-weight: 900;
}
#main_content ul{
	padding: 0px;
	margin: 0px;
}
#main_content li {
	display: inline-block;
	width: 12%;
	text-align: center;
	font-weight: 900;
	color: #333;
	border: none;
	margin : 0px;
	padding: 0px;
}

#main_content li img {
	width: 100%
}



/*--------store main---------------*/
div.product_img{
	width: 100%;
	background-size: cover;
	padding-top: 100%;
	border-radius: 6%
}
h3.pbrand{
	font-weight: 900;
	font-size: x-small;
}

h3.pname{
	font-weight: 900;
	font-size: small;
	color: #333;
}
h3.pprice{
	font-weight: 900;
	font-size: medium;
	color: #333;
	
}
div.product_td{
	margin-bottom: 50px;
}
.product_td a{
	text-decoration: none;
	
	
}

#product_category li{
	padding: 10px;
	font-weight: 900;
	color: #333;
	font-size: large;
}
#product_category li:hover {
	color: #555;
}



.product_main_nav{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	border: 0px;
	text-align: center;
}	

.product_main_nav_img{
	width: 90%;
	margin: 0px auto;
	background-size: contain;
	background-repeat:no-repeat;
	padding-top: 100%;

}
.product_main_nav h3{
	font-weight: 700;
	font-size: small;
}

.product_main_nav h3:hover{
	font-weight:bolder;
	font-size: small;
	color: rgb(53, 197, 240);
}

li#Q_li a, li#menu_myshopping a{
	color: rgb(53, 197, 240);
}

#main_content_qlist{
	box-shadow: 1px 1px 1px 1px #eee;
	border: 0.5px solid #eee;
	border-radius: 8px;
	min-height: 300px;
	padding: 75px
}
#main_qlist{
	min-height: 125px;
	border-top: 1px solid #ccc;
	padding: 20px;
	margin-top: 30px
}
#main_content_qlist>h1{
	color: #333;
}
#main_qlist h3{
	font-size: 15px;
	margin: 10px 0;
}
#main_qlist h1#Q_mark, #pinfo{
	color: rgb(53, 197, 240);
}
#pinfo{
	font-weight: 700;
}
#pqregdate{
	display: inline-block;
	text-align: right;
}

.main_qlist_answer_1, .main_qlist_answer_2{
	padding : 10px;
	background-color: rgb(53, 197, 240);
	color: #fff;
	font-weight: 900;
	border: none;
	border-radius: 3px;
}
.main_qlist_answer_1:hover,.main_qlist_answer_2:hover {
	background-color: rgb(17, 167, 210);
}
.main_qlist_input{
	width: 100%;
	min-height: 150px;
	border: 1.5px solid #666;
	border-radius: 5px;
}
 
.main_qlist_answer_2{
 display: none;
}
.A_status{
	padding:5px;
	color: #fff;
	background-color: #bbb;
	border-radius: 3px;
	width: 80px;
	text-align: center;
	font-weight: 900;
}

#detail_delivery h1{
	color: #666;
	font-weight: 900;
	font-size: x-large;
	
}
